.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 1fr auto;
}

header {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns:  128px repeat(2, 1fr);;
    align-items: center;
}

.search {
    display: grid;
    grid-column: 1/3;
    grid-row: 2/3;
    gap: 25px;
    grid-area: repeat(3,1fr);
}
